<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Loading</key>
	<string>加载中</string>
	<key>Cash</key>
	<string>提现</string>
	<key>MoneyWithUnit</key>
	<string>%.2f元</string>
	<key>InviteHongBaoTips</key>
	<string>邀请好友送100元现金红包</string>
	<key>HomeItemMode_0</key>
	<string>6宫格（6x6）</string>
	<key>HomeItemMode_1</key>
	<string>9宫格（9x9）</string>
	<key>HomeItemMode_2</key>
	<string>12宫格（12x12）</string>
	<key>HomeItemMode_3</key>
	<string>16宫格（16x16）</string>
	<key>ModeVideoTips</key>
	<string>需要完整观看视频，才能挑战此模式!</string>
	<key>Completeness</key>
	<string>完成度：%d%%</string>
	<key>HomeModeVideo</key>
	<string>抢先体验</string>
	<key>Free</key>
	<string>免费</string>
	<key>Win</key>
	<string>赢</string>
	<key>Phone</key>
	<string>手机</string>
	<key>Record</key>
	<string>记录</string>
	<key>NowMoney</key>
	<string>提现金额</string>
	<key>MoneyUnit</key>
	<string>元</string>
	<key>HongBaoUpdateTips</key>
	<string>升级提现金额，可提高赚取红包金额!</string>
	<key>CashMoneyWithUnit</key>
	<string>%.0f元</string>
	<key>CashBtn</key>
	<string>支付宝提现</string>
	<key>CashIntro</key>
	<string>提现说明：
1、支付宝提现需要实名认证，请务必把支付宝实名认证；
2、提现申请3个工作日内审核，审核通过即可到账；
3、如出现作弊行为，有权拒绝支付。</string>
	<key>UpdateHBBtn</key>
	<string>升级提现金额</string>
	<key>LackOfMoney</key>
	<string>提现金额不足，继续游戏赚取吧!</string>
	<key>NoCashRecord</key>
	<string>暂时还没有提现记录!</string>
	<key>HongBaoUpdateConfirm</key>
	<string>确定将提现金额提高到%d元?</string>
	<key>Confrim</key>
	<string>确定</string>
	<key>Cancel</key>
	<string>取消</string>
	<key>Setting</key>
	<string>游戏设置</string>
	<key>GameHongBao</key>
	<string>游戏红包</string>
	<key>InviteHongBao</key>
	<string>邀请红包</string>
	<key>Music</key>
	<string>音乐</string>
	<key>Sound</key>
	<string>音效</string>
	<key>Mark</key>
	<string>标记</string>
	<key>Notification</key>
	<string>推送</string>
	<key>Rating</key>
	<string>好评</string>
	<key>Help</key>
	<string>帮助</string>
	<key>Logout</key>
	<string>退出登录</string>
	<key>NotificationCloseConfirm</key>
	<string>确定关闭通知消息?</string>
	<key>NotificationCloseTips</key>
	<string>关闭后无法接收红包奖励通知!</string>
	<key>LogoutTitle</key>
	<string>确定退出当前账户？</string>
	<key>Help_0_0</key>
	<string>1、基本规则</string>
	<key>Help_0_1</key>
	<string>       标准数独：使数字1到6/9/12/16，在每一行、每一列和每一个粗线框内都只出现一次。
       不规则数独：使数字1到9，在每一行、每一列和每一个不规则的粗线框内都只出现一次。
       对角线数独：使数字1到9，在每一行、每一列、每一个粗线框和每条大对角线内都只出现一次。
       奇偶数独：使数字1到9，在每一行、每一列和每一个粗线框内都只出现一次，且阴影框内的数字只能是奇数或偶数。</string>
	<key>Help_1_0</key>
	<string>2、放置和删除数字</string>
	<key>Help_1_1</key>
	<string>       点击选择一个空的方格，然后点击键盘填入对应数字。
       点击选择一个已填入数字的方格，然后点击删除键或相同数字的键，可以撤销这个方格内的数字。</string>
	<key>Help_2_0</key>
	<string>3、标注数字</string>
	<key>Help_2_1</key>
	<string>       点击标注按钮进入标注状态，空格内可以标注多个数字。</string>
	<key>Help_3_0</key>
	<string>4、提示数字</string>
	<key>Help_3_1</key>
	<string>       使用提示可以获得所选格内正确的数字。</string>
	<key>LoginTitle</key>
	<string>您现在还是游客身份，红包需要登录后才能领取!</string>
	<key>LoginBtn</key>
	<string>微信登录</string>
	<key>Logining</key>
	<string>登录中</string>
	<key>LoginFailed</key>
	<string>登录失败!</string>
	<key>LoginCancel</key>
	<string>取消了登录!</string>
	<key>LoadFailed</key>
	<string>数据加载失败，请稍后再试!</string>
	<key>InviteTitle</key>
	<string>邀请好友</string>
	<key>InviteNum</key>
	<string>邀请人数：%d</string>
	<key>Invite</key>
	<string>邀请好友</string>
	<key>InviteTotalHongbao</key>
	<string>累计好友红包</string>
	<key>InviteCashTips</key>
	<string>满100元即可提现，仅差</string>
	<key>InviteCashStatus</key>
	<string>可以提现了!</string>
	<key>InviteRecord</key>
	<string>红包记录</string>
	<key>InviteCashStatus_0</key>
	<string>提现审核中!</string>
	<key>InviteCashStatus_1</key>
	<string>恭喜你，已提现100元，活动结束！</string>
	<key>InviteCashStatus_2</key>
	<string>提现审核没通过!</string>
	<key>UnActiveTips</key>
	<string>需下载APP登录激活!</string>
	<key>CashLackOf</key>
	<string>满100元即可提现，仅差%.2f元!</string>
	<key>WeChat</key>
	<string>微信</string>
	<key>WeChatTimeline</key>
	<string>朋友圈</string>
	<key>InviteCashTitle</key>
	<string>提现申请</string>
	<key>InviteCashMsg</key>
	<string>提现金额：100元</string>
	<key>InviteCashItem_0</key>
	<string>支付宝账号</string>
	<key>InviteCashItem_1</key>
	<string>真实姓名</string>
	<key>InviteCashItem_2</key>
	<string>手机号码</string>
	<key>InviteCashConfirm</key>
	<string>确定提现</string>
	<key>InviteCashIptTips</key>
	<string>请完善信息!</string>
	<key>InviteCashLack</key>
	<string>金额不足提现!</string>
	<key>InviteCashDid</key>
	<string>提现请求已收到，请等待处理!</string>
	<key>InviteCashOK</key>
	<string>提现请求已收到，等待审核!</string>
	<key>InviteHongBaoTitle</key>
	<string>累计获得现金红包</string>
	<key>UnActive</key>
	<string>未激活</string>
	<key>InviteBtnWithNum</key>
	<string>邀请好友领取红包 (%d/5)</string>
	<key>SpinTitle</key>
	<string>免费赢手机</string>
	<key>ExchangePhone</key>
	<string>兑换手机</string>
	<key>ExchangeAddress</key>
	<string>收货地址&gt;</string>
	<key>SpinItem_0</key>
	<string>100元红包</string>
	<key>SpinItem_1</key>
	<string>iPhone</string>
	<key>SpinItem_2</key>
	<string>手机碎片x1</string>
	<key>SpinItem_3</key>
	<string>现金红包</string>
	<key>SpinItem_4</key>
	<string>手机碎片x2</string>
	<key>SpinItem_5</key>
	<string>手机碎片x5</string>
	<key>SpinBtn</key>
	<string>免费抽奖</string>
	<key>SpinIntro</key>
	<string>剩余抽奖次数：%d次</string>
	<key>SpinLaterTips</key>
	<string>距离下一次抽奖开启时间</string>
	<key>SpinError</key>
	<string>似乎出了点问题，请稍后再试!</string>
	<key>SpinVideoTips</key>
	<string>需要完整观看视频，才能开始抽奖!</string>
	<key>SpinLackOf</key>
	<string>碎片不足，继续积攒吧!</string>
	<key>SpinFull</key>
	<string>今日抽奖次数已满!</string>
	<key>VideoNotReady</key>
	<string>视频正在准备中，请稍后!</string>
	<key>PassHongBaoOpenTitle</key>
	<string>累计获得现金红包</string>
	<key>PassHongBaoOpenMoney</key>
	<string>本次获得%.2f元</string>
	<key>PassHongBaoGet</key>
	<string>收下红包</string>
	<key>BigHongBao</key>
	<string>大红包</string>
	<key>BigHongBaoDist</key>
	<string>再开%d次必得大红包</string>
	<key>Unlock</key>
	<string>解锁</string>
	<key>UnlockVideoTips</key>
	<string>需要完整观看视频，才能解锁关卡!</string>
	<key>UnlockByVideoFull</key>
	<string>今日看视频解锁次数已满!</string>
	<key>PauseTitle</key>
	<string>游戏暂停</string>
	<key>PauseContinue</key>
	<string>继续游戏</string>
	<key>PauseRestart</key>
	<string>重新开始</string>
	<key>GameTime</key>
	<string>时间 %s</string>
	<key>GameError</key>
	<string>错误 %d/%d</string>
	<key>HongBao</key>
	<string>红包</string>
	<key>Undo</key>
	<string>撤销</string>
	<key>Erase</key>
	<string>删除</string>
	<key>Hint</key>
	<string>提示</string>
	<key>UnSelect</key>
	<string>请选中要操作的项!</string>
	<key>HintVideoTips</key>
	<string>需要完整观看视频，才能获得提示!</string>
	<key>NewbieHongBaoTips</key>
	<string>— 新人尊享红包 —</string>
	<key>NewbieHongBaoGet</key>
	<string>领取红包</string>
	<key>PassHongBaoTips</key>
	<string>看视频领取</string>
	<key>PassHongBaoTitle</key>
	<string>恭喜你！获得现金红包</string>
	<key>PassHongBaoMsg</key>
	<string>恭喜发财，大吉大利</string>
	<key>HongBaoVideoTips</key>
	<string>需要完整观看视频，才能领取红包!</string>
	<key>HongBaoUpdateTitle</key>
	<string>提高红包提现金额</string>
	<key>HongBaoUpdateBtn</key>
	<string>立即领取</string>
	<key>OverTitle</key>
	<string>闯关成功</string>
	<key>OverTime</key>
	<string>解题时间 %s</string>
	<key>OverNext</key>
	<string>下一关卡</string>
	<key>RateTitle</key>
	<string>你对我们的评价是什么？</string>
	<key>RateBtn</key>
	<string>给予评价</string>
	<key>RateTips</key>
	<string>请点选你想给予的星星数!</string>
	<key>ErasePreset</key>
	<string>不能删除预设数字!</string>
	<key>CannotUndo</key>
	<string>已经回到初始状态!</string>
	<key>ReviveTitle</key>
	<string>游戏结束</string>
	<key>ReviveMsg</key>
	<string>犯错次数超过上限，游戏失败</string>
	<key>ReviveConfrim</key>
	<string>第二次机会</string>
	<key>ReviveCancel</key>
	<string>重新开始</string>
	<key>ReviveVideoTips</key>
	<string>需要完整观看视频，才能获得新的机会!</string>
	<key>NoNetworkTitle</key>
	<string>需要连接网络才能开始游戏！</string>
	<key>NoNetworkIntro</key>
	<string>允许访问网络，即可开始游戏
前往 设置&gt;趣味数独&gt;无线数据&gt;WLAN与蜂窝网络</string>
	<key>NoNetworkRetry</key>
	<string>立即重试</string>
	<key>LocalNotificationAlertBody_1</key>
	<string>[福利红包]赶快领取吧！</string>
	<key>LocalNotificationAlertBody_2</key>
	<string>你获得现金奖励！限时领取红包！</string>
	<key>LocalNotificationAlertBody_3</key>
	<string>你有一个现金红包即将到期！</string>
	<key>TC_1</key>
	<string>点击格子，将其选中</string>
	<key>TC_2</key>
	<string>点击数字，将其填入选中的格子中</string>
	<key>TC_3</key>
	<string>每一行内每个数字只能出现一次</string>
	<key>TC_4</key>
	<string>每一列内每个数字也只能出现一次</string>
	<key>TC_5</key>
	<string>每一个粗线框内每个数字也只能出现一次</string>
	<key>TC_6</key>
	<string>点击切换键盘功能</string>
	<key>TC_7</key>
	<string>进入标注功能</string>
	<key>TC_8</key>
	<string>点击标注可能的数字</string>
	<key>TC_9</key>
	<string>可以标注多个可能的数字哟</string>
	<key>TC_10</key>
	<string>点击清除填入的内容</string>
	<key>TC_11</key>
	<string>点击提示可以获得选中格内正确的数字</string>
	<key>TC_12</key>
	<string>点击撤销可以逐步撤销之前的操作</string>
	<key>TC_13</key>
	<string>好了，游戏的基本规则就是这样了，开始游戏吧！</string>
	<key>TC_14</key>
	<string>注意这些不规则的粗线框，记住每一个粗线框内每个数字只能出现一次。</string>
	<key>TC_15</key>
	<string>注意这两条对角线，每条对角线上每个数字只能出现一次。</string>
	<key>TC_16</key>
	<string>注意这些标记，它是提示你此处只能是奇数或偶数。</string>
</dict>
</plist>
