<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-l-b-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,3700},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn-l-b.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,3120},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn-l-g-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2672},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn-l-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2546},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn-l-r-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2420},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn-l-r.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2294},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>btn-s-g-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1896},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn-s-g.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1762},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>btn-video.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1087},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{72,56}</string>
            </dict>
            <key>common-arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,432},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{28,48}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>common-back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2398},{64,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{64,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>common-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,404},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>common-box1-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,3166},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>common-box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,3348},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,176}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>common-box2-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2162},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>common-box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2030},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>common-box3-click.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{1016,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1016,156}}</string>
                <key>sourceSize</key>
                <string>{1016,156}</string>
            </dict>
            <key>common-box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{1016,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1016,156}}</string>
                <key>sourceSize</key>
                <string>{1016,156}</string>
            </dict>
            <key>common-progress-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,52},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>common-progress-fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,613},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>common-progress-point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,404},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>common-switch-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1732},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>common-switch-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1660},{90,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,70}}</string>
                <key>sourceSize</key>
                <string>{90,70}</string>
            </dict>
            <key>common-switch-point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1290},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>course-finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,3800},{290,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,202}}</string>
                <key>sourceSize</key>
                <string>{290,202}</string>
            </dict>
            <key>game-grid-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,3246},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>game-grid-box-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,421},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game-grid-box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,202},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>game-grid-line1-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,419},{20,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,1}}</string>
                <key>sourceSize</key>
                <string>{20,1}</string>
            </dict>
            <key>game-grid-line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,422},{20,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,6}}</string>
                <key>sourceSize</key>
                <string>{20,6}</string>
            </dict>
            <key>game-grid-line2-s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,416},{20,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,1}}</string>
                <key>sourceSize</key>
                <string>{20,1}</string>
            </dict>
            <key>game-grid-line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,517},{20,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,2}</string>
            </dict>
            <key>game-invite-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,3246},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>game-invite-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,369},{50,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{50,50}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>game-invite-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,3640},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>game-invite-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2798},{166,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>game-level-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1013},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>game-lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2650},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>game-lucky-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,3448},{158,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,8},{158,96}}</string>
                <key>sourceSize</key>
                <string>{224,112}</string>
            </dict>
            <key>game-lucky-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,3940},{224,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,112}}</string>
                <key>sourceSize</key>
                <string>{224,112}</string>
            </dict>
            <key>game-lucky-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,3826},{224,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,112}}</string>
                <key>sourceSize</key>
                <string>{224,112}</string>
            </dict>
            <key>game-mode-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2262},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game-mode-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2192},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game-mode-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2122},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game-mode-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2052},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>game-money-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,421},{10,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,98}}</string>
                <key>sourceSize</key>
                <string>{10,98}</string>
            </dict>
            <key>game-number-current12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1891},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>game-number-current16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2513},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>game-number-current6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,3344},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>game-number-current9.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,3942},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>game-number-status12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1804},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>game-number-status16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2448},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>game-number-status6.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,3526},{172,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,172}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>game-number-status9.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,3826},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>game-pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,102},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{44,56}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game-point12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1145},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{71,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>game-point16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,314},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{53,53}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>game-point6.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2966},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{152,152}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>game-point9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1362},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{98,98}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>game-props-delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1978},{68,72}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,18},{68,72}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>game-props-free.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,482},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>game-props-hint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1992,244},{54,68}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,24},{54,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>game-props-mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2578},{62,70}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,18},{62,70}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>game-props-recall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2724},{60,68}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,20},{60,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>game-red-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,521},{84,90}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>game-red-2-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,849},{76,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>game-red-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,759},{76,88}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,88}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>game-red-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,699},{82,58}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,41},{82,58}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>game-red-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,463},{32,34}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,43},{32,34}}</string>
                <key>sourceSize</key>
                <string>{84,100}</string>
            </dict>
            <key>game-setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2332},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>tips-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,3448},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>user-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3558},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>user-mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3860},{228,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,228}}</string>
                <key>sourceSize</key>
                <string>{228,228}</string>
            </dict>
            <key>window-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>window-close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,2},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{48,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>window-close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,3518},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>window-invite-add.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,3860},{206,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,206}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>window-invite-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1756,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1756,400}}</string>
                <key>sourceSize</key>
                <string>{1756,400}</string>
            </dict>
            <key>window-invite-label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,160},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>window-invite-label2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,499},{24,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>window-new-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1762},{900,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,1000}}</string>
                <key>sourceSize</key>
                <string>{900,1000}</string>
            </dict>
            <key>window-rate-star.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1462},{96,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,90}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>window-red-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1350},{900,1440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,1440}}</string>
                <key>sourceSize</key>
                <string>{900,1440}</string>
            </dict>
            <key>window-red-btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3246},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>window-red-btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,240},{230,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,190}}</string>
                <key>sourceSize</key>
                <string>{230,190}</string>
            </dict>
            <key>window-red-cn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,1554},{92,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,102},{92,104}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>window-red-en.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,4004},{198,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,121},{198,66}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>window-red-label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,939},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>window-share-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,3166},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>window-share-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,3546},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>window-share-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>window-spin-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{1040,1040}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,1040}}</string>
                <key>sourceSize</key>
                <string>{1040,1040}</string>
            </dict>
            <key>window-spin-fg.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2764},{362,400}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{362,400}}</string>
                <key>sourceSize</key>
                <string>{400,440}</string>
            </dict>
            <key>window-spin-iphone.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,3558},{176,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,240}}</string>
                <key>sourceSize</key>
                <string>{176,240}</string>
            </dict>
            <key>window-spin-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2764},{480,480}}</string>
                <key>offset</key>
                <string>{-1,241}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{480,480}}</string>
                <key>sourceSize</key>
                <string>{500,1020}</string>
            </dict>
            <key>window-spin-mg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,432},{916,916}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{916,916}}</string>
                <key>sourceSize</key>
                <string>{920,920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>texture.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4cd5919d382a68ecbc98cb806b8e2a5:1/1$</string>
            <key>textureFileName</key>
            <string>texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
